#registDialog form dl
	width:100%
	line-height:30px
	font-size: small
	dt 
		width:80px
		text-align:right
		float: left
		clear: both
	dd 
		float: left
		margin:0 0 0 5px
		input
			width: 245px
		span:first-child
			color:orange
