@import './mixin'
@import './header'
@import './zTreeStyle'
@import './paging'

body
	color: #222

h2
	text-align: center
	font-size: 22px

p
	text-align: center
	font-size: 16px

.stack
	position: relative

	> *:not(.active)
		display: none

.good
	width:100%
	margin:0 auto
	padding:0


.goodtrees
	width:22%
	float:left
	vbox()
	margin: 5px 0 0 0
	clear:both
	>div
		height:32px
		font-size:small
		margin:0
		padding:4px;
		text-align:center
		font-weight: bold
		border: 1px solid #999
		background: #ddd
		button
			font-size:small
	>h4
		height:20px
		font-size:small
		margin:0
		padding:6px 0 0 0px
		text-align:center
		font-weight: bold
		border: 1px solid #999
		vbg-gradient(#ddd, #FFF)
	>ul
		box-flex(1)
		overflow-y: scroll

.goodoption
	width:77.5%
	vbox()
	padding: 0px
	margin: 3px 0 0 0px
	border: 1px solid #eee
	float:left

.goodclass
	margin: 0
	padding: 0 8px
	h4
		text-align: center
		vbg-gradient(#ddd, #FFF)
		margin: 0
		padding: 8px 0
	img
		width:453px
		height:267px
		margin: 16px 8px 8px 0
		float:left
	p
		text-align:justify
	p+div
		width: 100%
		border: 1px solid #ccc
		padding: 8px 0
		clear: both
.imagesets
	width: 100%
	padding: 0px 0
	margin-bottom: 20px
	border: 1px solid #ccc
	border-top: 0
	float: left
	button
		float:left
		padding:101px 3px
	button.next
		float:right
	.imgscroll
		float:left

	ul
		list-style:none
		margin:0
		padding:0

		li
			width:168px
			text-align:center
			margin:0 20px

			a img
				width:168px
				height:101px

		a
			font-size:x-small
			margin:0
			display:block
		p
			font-size:small
			margin:0
		p:last-child
			color:red
			font-weight:bold

.agood
	margin: 0
	padding: 0 8px
.goodtitle
	margin: 0 0 20px 0
	h4
		text-align: center
		vbg-gradient(#ddd, #FFF)
		margin: 0
		padding: 18px 0
	img
		width:236px
		height:143px
		margin: 0px 8px 8px 0
		float:left
		border-radius(8px)
	p
		text-align:left
		font-size:small
		line-height: 14px
		margin: 8px 0px
		img
			width:16px
			height:16px
			float:none
			margin:0
			vertical-align: sub
		label
			width: 140px
			text-align: right
			display: inline-block
			margin-right: 10px
.gooddetail
	font-size: small
	table
		border:1px solid #999
		float: left
		margin: 0 5px
		caption
			font-size: small
			font-weight: bold
		thead tr
			height: 28px
			background:#999
		tbody tr
			height:24px
		tbody tr:nth-child(even)
			background:#ddd
		tbody tr td:nth-child(2)
			text-align:center
		tbody tr td sub
			font-size:xx-small
#tabs-introduction
	p
		font-size:small
		text-align:left
		margin: 0 8px
#tabs-parameter
	fieldset
		float:left
		p
			text-align:left
			font-size:small
			margin:10px
		p label
			width:60px
			display: inline-block
			text-align:right
			margin-right:10px
	p
		clear:both
#tabs-indexes
	p
		clear:both

.goodevals,.goodconsults
	width: 100%
	margin: 15px 0
	font-size: small

.goodsevals
	width: 100%
	border: 1px solid #ddd
	border-top-width : 2px
	margin: 0px 0 0px 0
	padding:0px 0 8px 0
	clear:both
	h3
		padding: 5px 0px 0px 10px
		margin:5px 0
	dl
		width:420px
		float:left
		margin:5px 8px 0 3px
		dt
			margin: 0 5px
			font-size:small
		dd
			margin: 5px 0 5px 15px
			font-size:small
			span
				width:130px
				display:inline-block
				margin:0
	div:nth-last-child(2)
		float:right
		text-align:center
		border-left:1px solid #ccc
		margin:0x 8px 0 8px
		padding:0 0 0 8px
		p
			margin: 3px
			font-size: small
	>p
		clear:both
		margin:1px

.goodratio
	width:72px
	height:35px;*height:80px
	text-align:center
	text-indent: 0em
	font-size:small
	line-height:0px
	margin:0px 0px 0 10px
	padding:0 0px
	float:left
	p
		color:red
		line-height:0px
		font-size:x-large
		font-weight: bold
		padding:0 5px 0 0
	h4
		line-height:25px
		padding:0
		margin:0
.evalratio
	width: 195px
	float:left
	border-right:1px solid #ccc
	margin:3px
	padding:0 5px
	dl
		margin:10px 3px
		dt
			width: 48px
			text-align: right
			display:block
			float:left
			clear:both
			margin:0 0 5px 0
		dd
			display:block
			float:left
			margin:0 3px

.oneeval
	ul
		width:12%
		list-style: none
		float:left
		font-size:x-small
		line-height:19px
		text-align:center
		padding:0px
		margin:3px 0
		clear:both
		li
			padding-top:0
			padding-bottom:0
			margin-top:0
			margin-bottom:0
		li:last-child img
			vertical-align: sub

.oneeval article
	width:85%
	float:left
	line-height:12px
	border:1px solid #ccc
	background:#f9f9ff
	margin:3px 0px 8px 12px
	padding:0

	p:first-child
		border-bottom:1px solid #ccc
		padding: 0 0 6px 0
		img
			width:16px
			height:16px
			vertical-align: sub
	p
		margin: 8px 5px 0
		padding: 5px 0
		overflow:hidden
		font-size: small
		text-align: left
		text-overflow:ellipsis

		label
			width:65px
			text-align:right
			display:inline-block
			margin-right:3px
		label:last-child
			padding-top:0px
		b
			background:#ddd
			padding:5px
			margin: 0 5px
		span
			float:right;
		a img
			width: 120px
			height: 90px
			vertical-align: top
			margin-right: 8px
	p+div
		width: 86%
		border: 1px solid #ddd
		float: right
		margin: 0 20px 10px
		padding: 8px 20px
		label
			display: block
			margin: 5px
		input[type=text]
			width: 91%
	ul
		width:100%
		li
			text-align: left
			margin: 5px 10px 5px 20px
			border-top: 1px solid #ccc
			padding: 5px
			strong
				color: #bbb
				font-size: large
				float: left
				padding: 8px 5px 0 0

			span
				color:#19c
			p
				margin:0
			p a
				float:right
.tabsbox-eval
	font-size: small
	>p
		clear:both
		margin:3px

.goodconsults
	>p
		margin:0 10px
		font-size:small
		text-align:left
		clear:both
		a img
			vertical-align: bottom
		span
			display:inline-block
			float:right
			padding-top: 5px
			a
				margin:0 10px
.goodconsults div
	dl:nth-child(odd)
		background:#f9f9ff
	dl
		width:100%
		float:left
		clear:both
		margin:0px
		padding:5px 0
		dt
			width:82px
			float:left
			text-align:right
			display:inline-block
			margin-right:0
			clear: both
		dd
			width:87%
			float:left
			margin: 0
			label
				width: 30%
				float:left
			code
				text-align:center
			span
				width: 140px
				display:inline-block
				float:right
			p
				float:left
				font-size:small
				margin:0
				text-align:left

.consultsearch
	float: left
	border-right: 1px solid #eee
	margin: 8px 10px 8px 10px
	p
		font-size: small
		margin: 10px 0 5px 0
	input
		width: 170px
.consulttip
	margin: 8px
	p
		text-align: left
		font-size: small
		margin: 10px 0 5px 0p

.reply
	color:red
	
#addOrderDialog
	img
		width:48px
		height:48px
		vertical-align:middle
	h3
		display:inline-block
	p
		text-align:left
		margin-left: 55px