@import './mixin'
@import './header'

body
	color: #222

h2
	text-align: center
	font-size: 22px

p
	text-align: center
	font-size: 16px

.stack
	position: relative

	> *:not(.active)
		display: none

.lefts
	width: 20%
	margin: 0
	margin: 5px 0 10px 0
	float: left
	clear:both
	h4
		border: #00aaaa solid 1px
		border-radius(5)
		margin: 0
		padding: 5px
	ul
		list-style: none
		border: #00aaaa solid 1px
		margin: 0
		padding: 5px
		li
			overflow: hidden
			text-overflow: ellipsis
		li a
			white-space: nowrap

.rights
	width:80%
	margin: 5px 0 10px 0
	padding: 0
	float:left
.all
	p
		text-align: left
		margin: 0
		padding:5px
		span
			display:inline-block
			float:right
	p:nth-child(odd)
		background:#eee

.one
	padding: 10px
	h4
		text-align: center
		color: red
		font-weight: bold
		font-size: large
		margin: 12px
	h5
		text-align: center
		color: darkgrey
	p
		text-align: left