@import './mixin'
@import './theme'
@import './header'

body
	color: #222

h2
	text-align: center
	font-size: 22px

p
	text-align: center
	font-size: 16px

.orderdetail
	width:800px
	margin:0 auto
	background:#ffffff
	border:0

.orderdetail h4
	width:98%
	background:#ddd
	padding:8px 

.orderdetail dl
	border-bottom:1px solid #ccc
	padding:8px 
	margin:0
	line-height:16px

.orderdetail dl.active
	width:780px
	border:2px solid #f96
	padding:8px 
	margin:0 4px 0 0
	line-height:24px

.orderdetail dl dt
	margin-bottom:10px
	font-size:small

.orderdetail dl dd
	margin:0 10px
	padding-left:8px
	font-size:small
	clear:both

.orderdetail dl dd span,.orderdetail dl dt span
	font-size:small
	padding-left:10px

.orderdetail dl dd div
	margin:0 20px
	padding-left:8px

.orderdetail dl dd label
	width:60px
	text-align:right
	display:inline-block;
	margin: 0 8px 5px 0;
	overflow: visible;

.currentstate
	widht:100%
	text-align:left
	border:1px solid #fec
	margin:8px 0 0 0
	vbg-gradient(#ffffcc,#ffeecc)

.currentstate p:first-child
	text-align:left
	border-bottom:1px solid #fec
	margin: 0 3px
	padding:5px

.currentstate p:last-child
	font-size:small
	text-align:left
	margin:0 3px
	padding:5px

.currentstate p:first-child span
	padding-left:12px

.currentstate p:first-child span b
	color:green

.process
	padding:0 auto
	margin: 20px 0 0 85px


.process p
	margin: 0 auto
	padding: 0 auto

.note
	width:130px
	text-align:right
	float:left
	font-size:x-small
	margin:0
	padding:0

.note label
	width:65px
	display: inline-block;
	text-align: center;
	padding:0
	margin:0

.trails
	clear:both

.infotitle
	width:788px
	clear:both
	background:#ddd
	padding:8px 0 8px 12px
	margin-bottom:0

.receivers,.payments,.transports,.bills,.products
	width:794px
	border-left:3px solid #ddd
	border-right:3px solid #ddd
	padding:0
	margin:0

.products p
	font-size:small
	text-align:left
	margin:0 0 5px 0
	padding:12px 0 0 8px

.products ul
	list-style:none
	margin:8px 0
	background:#ddd
	text-align:right
	padding:12px

.products ul li span
	width:80px
	display:inline-block
	text-align:right
	padding:2px 30px 2px 10px

.products ul li lable
	width:150px
	display:inline-block
	text-align:right

.products ul li:last-child
	font-size:large

.products ul li:last-child span
	color:red

table 
	width:99%
	font-size:small
	border-spacing:0px
	margin:auto

table thead
	width:100%
	height:40px
	background:#eee
	text-align:center

table thead tr
	height:30px

table thead tr th
	border:1px solid #ddd


table thead tr th:nth-child(1)
	width:70px

table thead tr th:nth-child(2)
	width:92px

table thead tr th:nth-child(3)
	width:270px

table thead tr th:nth-child(4)
	width:55px

table thead tr th:nth-child(5)
	width:80px

table thead tr th:nth-child(6)
	width:65px

table thead tr th:nth-child(7)
	width:65px

table thead tr th:nth-child(8)
	width:50px

table tbody tr td
	border:1px solid #ddd
	padding:0 5px

table tbody tr td:nth-child(1)
	text-align:center

table tbody tr td:nth-child(2)
	text-align:center

table tbody tr td:nth-child(3)
	text-align:left

table tbody tr td:nth-child(4)
	text-align:right

table tbody tr td:nth-child(n+5)
	text-align:center

table tbody tr td img
	width:90px;
	height:53px;
	margin:0 auto
	vertical-align:middle

