@import './mixin'
@import './theme'
@import './header'


body
	color: #222

h2
	text-align: center
	font-size: 22px

p
	text-align: center
	font-size: 16px

.stack 
	position: relative;

.stack >  *:not(.active),
.typestack > *:not(.active),
.receiptheader:not(.active),
.newbill:not(.active),
.newconsignee:not(.active),
span[data-edit]:not(.active)
	display: none;

.vdivide 
	width: 6px;
	border: 1px solid #c5c5c5;
	border-width: 0 1px 0 1px;
	border-right-color: rgba(0, 0, 0, 0.3);
	background: #f9f9f9;
	vbg-gradient(#f9f9f9, #dfe0e1);


.billtype
	clear:both

.orderstate
	width: 54%
	float:right
	font-size:x-small
	margin:8px
	padding:5px 10px 0 0
	overflow: hidden
	clear:both


.orderstate li
	float: left
	margin: 0 .5em 0 1em


.orderstate span
	background: #ddd
	padding: .7em 1em
	float: left
	text-decoration: none
	color: #444
	text-shadow: 0 1px 0 rgba(255,255,255,.5)
	position: relative


.orderstate span::before,.orderstate .current::before
	content: ""
	position: absolute
	top: 50%
	margin-top: -1.5em
	border-width: 1.5em 0 1.5em 1em
	border-style: solid
	border-color: #ddd #ddd #ddd transparent
	left: -1em

.orderstate span::after,.orderstate .current::after
	content: ""
	position: absolute
	top: 50%
	margin-top: -1.5em 
	border-top: 1.5em solid transparent
	border-bottom: 1.5em solid transparent
	border-left: 1em solid #ddd
	right: -1em


.orderstate .current
	padding: .7em 1em
	float: left
	text-decoration: none
	color: #444
	text-shadow: 0 1px 0 rgba(255,255,255,.5)
	position: relative
	font-weight: bold
	background:  #99db76


.orderstate .current::after
	border-left: 1em solid #99db76


.orderstate .current::before
	border-color: #99db76 #99db76 #99db76 transparent

.orderinfo
	margin:0 auto
	background:#ffffff
	border:0
	h4
		width:98%
		background:#ddd
		padding:8px 
.show dl
	border:1px solid #ccc
	border-top:0
	padding:8px 
	margin:0
	line-height:24px
	dt span
		font-size:small
		padding-left:10px
	dd
		margin:0 10px
		padding-left:8px
		font-size:small
		clear:both
		span
			font-size:small
			padding-left:10px
		div
			margin:0 20px
			padding-left:8px
		label
			width:100%
			display:inline;
			margin: 0 0 5px 0;
			overflow: visible;

.active dl
	border:1px solid #f96
	border-bottom: none
	padding:8px 
	margin:0
	line-height:24px
.active dl:last
	border-bottom: 2px solid #f96

.infotitle
	width:100%
	clear:both
	background:#ddd
	padding:8px 0
	h4
		width: 90%
		margin: 0 12px
.orders,.receiver,.transports,.bills,.payments
	border:1px solid #ccc
	border-top:0
	margin:0

.orders .show
	padding:8px 0 0 0
	margin:0

.newconsignee label span,.billtype label span
	width:100px
	text-align:right
	display:inline-block
.newconsignee
	font-size:small
	padding:10px 0

p.productlist
	width:100%
	text-align:left
	margin:8px

p.productlist span
	width:86%
	font-size:small
	text-align:right
	display:inline-block

table 
	width:90%
	font-size:small
	margin:auto

table thead
	width:100%
	height:40px
	background:#eee
	text-align:center

table thead tr
	height:30px


table tbody tr td
	padding:0 5px

table tbody tr td img
	width:90px;
	height:53px;
	float:left;
	margin:0 5px 0 0;

table tbody tr td p
	text-align:center

table tbody tr td span
	width:100%
	text-align:right
	display:inline-block

table tbody tr td span b
	width:120px
	text-align:right
	display:inline-block

table tbody tr td.sumproduct
	border-top:1px dashed #ccc
	padding-top:8px
	margin-top:10px

.orderinfo footer
	width:100%
	height:45px
	text-align:right
	background:#f5f5f5
	margin-top:20px
	padding:8px 0px 0px 0

.orderinfo footer b
	color:red

.orderinfo footer button
	font-size:large
	color:white
	background:#dd3333
	margin:0 8px 0 20px

.orderinfo footer button:disabled
	background:#ddd
