.headers
	header
		width: 100%
		height: 53pt
		color: white
		vbg-gradient(#6ae, #ace)
		p
			float: left
			font-weight: bold
			font-size: 200%
			text-align: left
			margin: 0px
			padding: 16px 0px 16px 65px
			background: url(../images/sb1.png) no-repeat 10px 50%
		ul
			list-style:none
			margin:0
			padding:5px 8px 0 0
			float: right
			li
				padding: 2px
				CURSOR: pointer
			li button
				font-size:small
				margin: 0
			li button span b
				color:#f00
		ol
			list-style:none
			margin:0
			padding: 8px 0
			float: right
			li
				padding: 5px
				CURSOR: pointer
				font-size: 90%
			li select
				margin:0
	img
		width:100%
		border: 0
		margin:0

#myCartDialog
	font-size:small
	span
		color:red
	p
		text-align:right
	table
		width:100%
		margin:5px 0
		tr:nth-child(odd)
			background: #EEE
		tr td
			text-align:left
		tr td img
			float:left
			margin-right:8px
		tr td:last-child
			text-align:right

#myYunruiDialog
	font-size:small
	span
		color:red
	p
		text-align:left
		border-bottom:1px solid #eee
		margin: 0
		padding: 8px
		font-size: small
		span
			float:right
	ul
		width: 150px
		list-style: none
		float: left
		margin: 0
		padding: 0 8px
		border-right: 1px solid #ccc
		li
			margin:5px 0
			text-align:left
	ul:last-child
		border-right:0

nav
	margin: 2px 0
	padding: 0
	
	dl
		width: 100%
		height: 24px
		margin: 0px
		text-align: left
		font-weight: bold
		font-size: small
		border: #00aaaa solid 1px
		border-left: 0px
		border-right: 0px
		background: url(../images/newsbg.gif) repeat-x left top
		dt
			float: left
			padding: 5px 10px
		dt a
			margin:0 10px
		dd
			float: right
			padding: 2px 10px
.position
	width: 100%
	height: 29px
	font-size: 90%
	text-decoration: none
	border: #00aaaa solid 1px
	margin: 0px
	ul
		list-style:none
		margin:0
		padding-left: 8px
		float:left
	ul li
		float: left
		margin: 0 5px 0 0
		padding: 7px 5px 5px 0
	ul li:last-child
		float: right
		cursor: pointer
		padding: 0
			
.footers
	padding: 5px
	vbg-gradient(#6ae, #ace)
	clear: both
	p
		font-size:small
		text-align: center;
		line-height: 5px
		color: #666666;
		padding: 0
