@import './mixin'
@import './header'

body
	color: #222

h2
	text-align: center
	font-size: 22px

p
	text-align: center
	font-size: 16px

h4
	background:#eee
	padding: 8px

form
	width:70%
	clear:both
	float:left
	ul
		width:90%
		list-style: none
		margin: 0 auto
		padding:10px
	label
		width: 15%
		font-size: small
		display: inline-block
		text-align: right
		b
			color:red
	input[type='text']
		width: 70%
	input[type='file']
		display: none
	input[type='submit']
		margin: 20px 0
	textarea
		width: 70%;
		height: 120px;
		vertical-align: top
	p
		width: 85%
		text-align: right
		color: #999
		margin: 5px 0
		font-size: small
	span
		color: #999
		margin: 5px 0
		font-size: small

div.about
	width:30%
	float:left
	h5
		width:90%
	p
		width:90%
		text-align:left
		font-size:small
		margin: 8px 0