.orderedits,.ordershows
	width:100%
	height:100%
	margin:0 auto
	background:#ffffff
	border:0

.orderedits h4,.ordershows h4
	width:98%
	background:#ddd
	padding:8px 

.orderedits dl,.ordershows dl
	border-bottom:1px solid #ccc
	padding:8px 
	margin:0
	line-height:16px

.orderedits dl.active
	width:780px
	border:2px solid #f96
	padding:8px 
	margin:0 4px 0 0
	line-height:24px

.orderedits dl dt,.ordershows dl dt
	margin-bottom:10px
	font-size:small

.orderedits dl dd,.ordershows dl dd
	margin:0 10px
	padding-left:8px
	font-size:small
	clear:both

.orderedits dl dd span,.orderedits dl dt span,.ordershows dl dd span,.ordershows dl dt span
	font-size:small
	padding-left:10px

.orderedits dl dd div,.ordershows dl dd div
	margin:0 20px
	padding-left:8px

.orderedits dl dd label,.ordershows dl dd label
	width:60px
	text-align:right
	display:inline-block;
	margin: 0 8px 5px 0;
	overflow: visible;

.currentstate,.currentstate0
	text-align:left
	border:1px solid #fec
	margin:8px 0 0 0
	vbg-gradient(#ffffcc,#ffeecc)

	p:first-child
		text-align:left
		border-bottom:1px solid #fec
		margin: 0 3px
		padding:5px

	p:last-child
		font-size:small
		text-align:left
		margin:0 3px
		padding:5px

	p span:first-child
		padding-left:12px

	p span b
		color:green

	p span:last-child
		width:270px
		display : inline-block
		position : relative
		font-size: small
		text-align : right
		float: right
		input
			width:13px
			margin:0

	p span:last-child button
		font-size:small
		margin-left:10px

.process
	padding:0 auto
	margin: 20px 0 0 85px


.process p
	margin: 0 auto
	padding: 0 auto

.note
	width:130px
	text-align:right
	float:left
	font-size:x-small
	margin:0
	padding:0

.note label
	width:65px
	display: inline-block;
	text-align: center;
	padding:0
	margin:0

.trails
	clear:both

.infotitle
	clear:both
	background:#ddd
	padding:8px 0 8px 12px
	margin-bottom:0

.receivers,.payments,.transports,.bills,.orderproducts,.paymentshow,.transportshow,.orderproductshow
	border-left:3px solid #ddd
	border-right:3px solid #ddd
	padding:0
	margin:0

.orderproducts p,.orderproductshow p
	font-size:small
	text-align:left
	margin:0 0 5px 0
	padding:12px 0 0 8px

.orderproducts ul,.orderproductshow ul
	list-style:none
	margin:8px 0
	background:#ddd
	text-align:right
	padding:12px

.orderproducts ul li span,.orderproductshow ul li span
	width:90px
	display:inline-block
	text-align:right
	padding:2px 30px 2px 10px

.orderproducts ul li lable,.orderproductshow ul li lable
	width:150px
	display:inline-block
	text-align:right

.orderproducts ul li:nth-last-child(2),.orderproductshow ul li:nth-last-child(2)
	font-size:large

.orderproducts ul li:nth-last-child(2) span,.orderproductshow ul li:nth-last-child(2) span
	color:red

.orderproducts ul li:last-child,.orderproductshow ul li:last-child
	border-top: 1px solid #999
	margin-top:8px
	padding-top:8px

.orderproducts ul li:last-child lable button,.orderproductshow ul li:last-child lable button
	color:red


.orderproducts table ,.orderproductshow table 
	width:99%
	font-size:small
	border-spacing:0px
	margin:auto

.orderproducts table thead,.orderproductshow table thead
	width:100%
	height:40px
	background:#eee
	text-align:center

.orderproducts table thead tr,.orderproductshow table thead tr
	height:30px

.orderproducts table thead tr th,.orderproductshow table thead tr th
	border:1px solid #ddd


.orderproducts table thead tr th:nth-child(1),.orderproductshow table thead tr th:nth-child(1)
	width:50px

.orderproducts table thead tr th:nth-child(2),.orderproductshow table thead tr th:nth-child(2)
	width:70px

.orderproducts table thead tr th:nth-child(3),.orderproductshow table thead tr th:nth-child(3)
	width:220px

.orderproducts table thead tr th:nth-child(7),.orderproductshow table thead tr th:nth-child(4)
	width:80px

.orderproducts table thead tr th:nth-child(4),.orderproductshow table thead tr th:nth-child(5)
	width:43px

.orderproducts table thead tr th:nth-child(5),.orderproductshow table thead tr th:nth-child(6)
	width:50px

.orderproducts table thead tr th:nth-child(6),.orderproductshow table thead tr th:nth-child(7)
	width:60px

.orderproducts table thead tr th:nth-child(8),.orderproductshow table thead tr th:nth-child(8)
	width:50px

.orderproducts table thead tr th:nth-child(9),.orderproductshow table thead tr th:nth-child(9)
	width:50px

.orderproducts table tbody tr td,.orderproductshow table tbody tr td
	border:1px solid #ddd
	padding:0 5px

.orderproducts tr td:nth-child(1),.orderproductshow table tbody tr td:nth-child(1)
	text-align:center

.orderproducts tr td:nth-child(2),.orderproductshow table tbody tr td:nth-child(2)
	text-align:center

.orderproducts tr td:nth-child(3),.orderproductshow table tbody tr td:nth-child(3)
	text-align:left

.orderproducts tr td:nth-child(4),.orderproductshow table tbody tr td:nth-child(n+4)
	text-align:right

.orderproducts tr td:last-child,.orderproductshow table tbody tr td:last-child
	text-align:center

.orderproducts table tbody tr td img,.orderproductshow table tbody tr td img
	width:90px;
	height:53px;
	margin:0 auto
	vertical-align:middle

.orderedits input
	width:25px
	font-size:x-small

.orderproducts table tbody tr td:nth-child(5) input
	width:33px

.orderproducts table tbody tr td:nth-child(7) input
	width:45px

.orderproducts table tbody tr td:nth-child(8) input
	width:20px

