@import './mixin'
@import './theme'
@import './header'

.stack
	position: relative
  
	> *:not(.active)
		display: none

.hide
	display: none

body
	color: #222

h2
	text-align: center
	font-size: 22px

p
	text-align: center
	font-size: 16px

a:link {color:#000000;}		/* 未被访问的链接 */
a:visited {color:#006600;}	/* 已被访问的链接 */
a:hover {color:#660066;}	/* 鼠标指针移动到链接上 */
a:active {color:#000066;}	/* 正在被点击的链接 */

.members
	width:100%
	margin:0 auto
	padding:0
	border:0

	a
		text-decoration:none

.sidebar
	width:14%
	float:left
	font-size:12px
	margin:1px 0px 0px 0px
	clear:both

	header
		width:100%
		height:28px
		color:#fff
		font-size:15px
		background:#ddd
		padding:8px 1px 0
		margmin:0
		
		a
			padding-left:5px
			color:#000
		img
			position:relative
			left:35px
			cursor:pointer
			vertical-align: sub

	section
		width:100%
		color:#000
		font-size:13px
		background-color:#fff
		border:1px solid #aaaaaa
		padding:0px 0 0px 0px
		margin:1px 0

		h4
			width:94%
			height:20px
			color:#000
			font-size:13px
			background:#eee
			padding:5px 0 3px 8px
			margin:0

		ul
			list-style-type:none
			padding:5px
			margin:0

			li
				padding-left:17px
				line-height:20px

.main
	width:86%
	float:left
	font-size:12px
	margin:1px 0px 10px 0px

.myyunrui
	margin:8px 20px

.home-photo
	width:400px
	float:left
	margin:0px
	padding:0px
	border:0px

	>img
		width:100px
		height:100px
		vertical-align:top
		float:left
		margin-right:20px
	p
		font-size:small
		text-align:left
		margin:6px
		img
			width:20px
			height:20px
			vertical-align: bottom
		span
			color:#666
			
		strong
			font-size:medium
		a
			text-align:left
.home-intro
	width:659px
	height:200px
	float:left
	margin:20px 3px 3px 7px
	padding-left:5px
	clear:both

	p
		margin: 0 10px 10px 0
		text-align: left;
		font-size:large
			
		a
			font-size:small
			color:#999
			margin-left:10px
		a:last-child
			color:#000
			float:right


.home-intro-item
	width:545px
	border:1px solid #ffd0d0
	background:#ffffef
	margin-top:0px
	padding:5px
	clear: both
	float: left

.home-intro-item-1
	width:355px
	border:0px
	float:left

	dl
		list-style-type:none
		margin: 0

	dl dt
		width:65px
		float:left
		display:block
		padding:7px 0px 5px
		font-weight:bold
		clear:both

	dl dd
		width:90px
		float:left
		display:block
		padding:5px 3px 5px 0px
		margin: 2px 1px 0px 0

	dl dd .clearboth
		clear:both

.home-intro-item-2
	width:188px
	border-left:1px solid #ccc
	float:left
	margin-left:0px

	ul
		list-style-type:none
		margin: 0
		padding: 0

	ul li
		margin-left:5px
		padding:4px 10px

		span
			position:relative
			left:16px
.tabs
	width:99%
	float:left
	margin: 10px 0
	clear:both

#home-menu-2
	width:100%
	padding:10px 0px
	float:left
	>p
		text-align:left
		font-size:small
		margin: 0 10px 8px 0
		a
			color:#999
			margin-left:10px
		a:last-child
			color:#000
			float:right
		
.imagesets
	width: 100%
	padding: 0px 0
	margin-bottom: 20px
	border: 1px solid #ccc
	border-top: 0
	float: left
	button
		float:left
		padding:101px 3px
	button.next
		float:right
	.imgscroll
		float:left

	ul
		list-style:none
		margin:0
		padding:0

		li
			width:168px
			text-align:center
			margin:0 20px

			a img
				width:168px
				height:101px

		a
			font-size:x-small
			margin:0
			display:block
		p
			font-size:small
			margin:0
		p:last-child
			color:red
			font-weight:bold
			
.childheader
	border:1px solid #999
	padding:5px 0px
	h5
		color: #f00
		margin: 0
		padding: 5px 10px
		border-bottom: 1px solid #f00
		background: #fff
		font-size: medium
			
		a
			font-size:x-small
			font-weight:normal
			margin-left:508px
	p
		font-size:x-small
		text-align:left
		padding: 5px 10px
		b
			font-size:medium
			color:red
			margin-right:20px
		span
			margin-left:150px

.orderbox
	padding:5px 0
	table tbody td span
		color:#a3a3a3

.myorders
	margin:0 0 0 10px
	ul form
		float:right
		input[type=text]
			padding: 2px 8px

#order-item
	table 
		width:99%
		font-size:small
		border-spacing:0px
		margin:auto

	table thead
		width:100%
		height:30px
		background:#eee
		text-align:center

	table thead tr
		height:28px

	table thead tr th
		border:1px solid #ddd


	table thead tr th:nth-child(1)
		width:50px

	table thead tr th:nth-child(2)
		width:170px

	table thead tr th:nth-child(3)
		width:62px

	table thead tr th:nth-child(4)
		width:55px

	table thead tr th:nth-child(5)
		width:80px

	table thead tr th:nth-child(6)
		width:65px

	table thead tr th:nth-child(7)
		width:70px

	table tbody tr td
		border:1px solid #ddd
		padding:0 0px

	table tbody tr td:nth-child(1)
		text-align:center

	table tbody tr td:nth-child(2)
		text-align:left
		img
			width:50px
			height:30px
			align:left
			vertical-align:top

	table tbody tr td:nth-child(3)
		text-align:center

	table tbody tr td:nth-child(4)
		text-align:right

	table tbody tr td:nth-child(n+5)
		text-align:center

	table tbody tr td:last-child
		button
			padding:2px 7px

.mycares
	margin:0 0 0 10px

.care-item-show
	padding:0 5px
	p
		font-size:x-small
		text-align:left
		span
			margin-right:10px
	p:last-child
		span:last-child
			display:inline-bolck
			float:right
			margin-left:90px
			input[type=text]
				padding: 2px 8px
.care-item-head
	border:1px solid #ccc
	>p
		font-size:x-small
		text-align:left
		border: 1px solid #ccc
		background: #eee
		margin: 0
		padding: 5px	
		>button
			margin-left:10px
		>a
			margin-left:10px
		span
			display:inline-block
			float:right
		span b
			margin-left:10px
			color:red
		span button
			margin-left:10px
	table
		width:100%
		border-collapse:collapse
		th
			text-align:center
		td
			border-bottom:1px solid #eee
	table tr th:nth-child(1) 
		width:20px
	table tr th:nth-child(2) 
		width:160px
	table tr th:nth-child(4)
		width:80px
	table tr th:nth-child(5)
		width:50px

	table tr td:nth-child(2) 
		img
			width:160px
			height:96px
	table tr td:nth-child(3)
		text-align:left 
		padding:5px
		p
			font-size:x-small
			text-align:left 
			margin:0
		p img
			width:16px
			height:16px
	table tr td:nth-child(4)
		p
			font-size:x-small
			text-align:right
			padding-right:10px
			b
				color:red
			span
				font-size:x-small
				color:white
				background: red
	table tr td:nth-child(5)
		text-align:right
	table tr td:last-child
		text-align:center
		button
			padding:4px 6px

#care-item-2
	width:100%
	padding:10px 0px
	float:left
	>p
		text-align:left
		font-size:small
		margin: 0 10px 8px 0
		a
			color:#999
			margin-left:10px
		a:last-child
			color:#000
			float:right

#care-item-2-title
	width:98%
	font-size:small
	border:1px solid #ccc
	margin:10px 0 0 0
	padding:8px
	clear:both

#addOrderDialog
	text-align:left
	font-size:small
	line-height:24px

	img
		margin: 0px 10px 5px 5px
		float: left
		
#selectorder
	table
		width:100%
		border-collapse:collapse
		th,td
			border:1px solid #ccc
			text-align:center
	table tr th:nth-child(1) 
		width:60px
	table tr th:nth-child(2) 
		width:428px
	table tr th:nth-child(3)
		width:80px
	table tr th:nth-child(4)
		width:80px
	table tr td:nth-child(2) 
		text-align:left
		img
			width:55px
			height:33px
			vertical-align:middle
#mycomplains
	>p
		font-size:x-small
		text-align:left
		margin:0
	table
		width:100%
		border-collapse:collapse
		th,td
			border:1px solid #ccc
			text-align:center
	table tr th:nth-child(1) 
		width:350px
		text-align:left
	table tr th:nth-child(2) 
		width:60px
	table tr th:nth-child(3)
		width:60px
	table tr th:nth-child(4)
		width:80px
	table tr th:nth-child(5)
		width:50px
	table tr th:nth-child(6)
		width:60px
	table tr td:nth-child(1) 
		text-align:left
#editcomplains
	form
		margin:10px
		span
			margin-right:100px
		textarea
			width:500px
			height:100px
			vertical-align:top
		h5
			margin:0 0 0 70px
		input[type=submit]
			margin:20px 0 0 70px

#basicinfo
	ul
		list-style:none
		li
			margin:5px 0
			img
				width:16px
				height:16px
				vertical-align:middle
			b
				color:red
		li label
			width: 80px
			text-align: right
			display: inline-block
		li input[type=text]
			width:300px
		li input[type=button]
			margin-left:80px

#headshot
	padding:10px
	form
		input[type=file]
			display:none
		p
			text-align:left
			font-size:x-small
			color:#999
			margin:0
	.myheadshot
		width:450px
		height:236px
		border:1px solid #ccc
		background:#eee
		margin-top:10px
		img
			width:150px
			height:150px
			vertical-align:middle
			clear: both
			display: block
			margin:auto
	.recommendheadshots
		width:450px
		img
			width:50px
			height:50px

#moreinfo
	p
		font-size:x-small
			margin: 4px 8px
			text-align: left
	>div
		margin:8px
	ul
		list-style:none
		li
			margin:5px 0
		li label
			width: 180px
			text-align: right
			display: inline-block
		li input[type=text]
			width:300px
		li input[type=button]
			margin-left:80px
#mygrade
	ul
		list-style:none
		border:1px solid #ccc
		margin:0
		padding:8px
		h5
			margin:8px 0
		li:first-child
			img
				width:20px
				height:20px
				vertical-align:middle
			b
				font-size:medium
	ul:last-child
		width:637px
		list-style:none
		float:left
		margin-bottom:8px
		li div
			float:left
			margin: 15px
			img
				width:96px
				height:96px
			p
				font-size:x-small
				margin: 0

.balancebox
	table
		border-collapse:collapse
		th,td
			border:1px solid #ccc
			text-align:center
		tr:first-child
			background:#eee
		th:nth-child(1) 
			width:140px
		th:nth-child(2) 
			width:100px
		th:nth-child(3)
			width:100px
		th:nth-child(4)
			width:300px

.spendingbox
	table
		border-collapse:collapse
		th,td
			border:1px solid #ccc
			text-align:center
		thead tr
			background:#eee
		th:nth-child(1) 
			width:100px
		th:nth-child(2) 
			width:80px
		th:nth-child(3)
			width:90px
		th:nth-child(4)
			width:90px
		th:nth-child(5)
			width:288px
		td:nth-child(5)
			text-align:left
#producteval table
	width:100%
	border-collapse:collapse
	th,td
		border:1px solid #ccc
		text-align:center
	thead tr
		background:#eee
	th:nth-child(2) 
		width:11%
	th:nth-child(3)
		width:10%
	th:nth-child(4)
		width:10%

	td ul
		list-style: none
		margin: 8px 0
		padding: 0
		clear:both
		li
			text-align:center
			float:left
			padding-left: 0
		li:nth-child(1)
			text-align:left
			width:69%
			img
				width:55px
				height:33px
				padding: 0 3px
				vertical-align:middle
		li:nth-child(2)
			width:11%
		li:nth-child(3)
			width:10%
		li:nth-child(4)
			width:10%
.evalnow
	width: 99%
	clear: both
	border: 1px solid #ddd
	background: #cfefff
	margin: 5px auto
	dl dt
		width: 10%
		text-align: right
		float: left
		clear: both
	dl dd
		width: 85%
		text-align: left
		float: left
		margin: 0 0 15px 8px
		img
			width:20px
			height:20px
		span
			border: 1px solid #999
			background: #fff
			padding: 3px 5px
			margin-right: 5px
			display: inline-block
		textarea
			width:100%
		p
			width:100%
			font-size: x-small
			text-align:right
			margin:0
	dl dd:nth-child(4)
		img
			width:100px
			height:100px
	>p
		clear:both
#satisfactioneval
	table
		border-collapse:collapse
		th,td
			border:1px solid #ccc
			text-align:center
		thead tr
			background:#eee
		th:nth-child(1) 
			width:210px
		th:nth-child(2) 
			width:225px
		th:nth-child(3)
			width:210px
#buyconsult
	margin:10px 0 10px 5px
	table
		border-collapse:collapse
		th
			border:1px solid #ccc
			text-align:center
		td
			border:1px solid #ccc
			text-align:left
		thead tr
			background:#eee
		th:nth-child(1) 
			width:60px
		th:nth-child(2) 
			width:100px
		th:nth-child(3)
			width:485px
		td:nth-child(1) 
			img
				width:60px
				height:36px
		td:nth-child(3) 
			p
				text-align:left
				font-size:x-small
				margin:3px
			b
				color:red
.messagebox
	table
		width: 98%
		margin: 0 auto
		border-collapse:collapse
		th,td
			border:1px solid #ccc
			text-align:center
		thead tr
			background:#eee
		th:nth-child(1) 
			width:10px
		th:nth-child(2) 
			width:40px
		th:nth-child(3)
			width:80px
		th:nth-child(4)
			width:500px
		td:nth-child(1) 
			margin:0
		td:nth-child(4)
			text-align:left
.message-option
	margin-left:120px
	a
		margin-left:20px
.message-action
	width:630px
	margin:0 0 10px 3px
	button
		margin-left:20px
.mypassword,.myupdatepassword
	form ul
		list-style-type:none
		border:1px solid #eee
		padding:15px 50px
		li
			line-height:50px
			label
				width:115px
				text-align:right
				display:inline-block
			input
				width:205px
			input[name=validate]
				width:180px
		li:first-child a
			margin-left:20px
		li:nth-child(2)
			border-bottom:1px solid #eee
			margin-bottom: 10px
			padding-bottom: 10px
	fieldset ul
		list-style-type:decimal
#array-two
	overflow: hidden
	width: 100%
	padding:0
	li
		width:30%
		float: left
		text-align:center
		margin: 0 .5em 0 1em
	span
		width:92%
		background: #ddd
		padding: .7em 1em
		float: left
		text-decoration: none
		color: #444
		text-shadow: 0 1px 0 rgba(255,255,255,.5)
		position: relative
	span::before, .current::before, .finished::before
		content: ""
		position: absolute
		top: 50%
		margin-top: -1.5em
		border-width: 1.5em 0 1.5em 1em
		border-style: solid
		border-color: #ddd #ddd #ddd transparent
		left: -1em
	span::after,.current::after,.finished::after
		content: ""
		position: absolute
		top: 50%
		margin-top: -1.5em
		border-top: 1.5em solid transparent
		border-bottom: 1.5em solid transparent
		border-left: 1em solid #ddd
		right: -1em
	.current
		padding: .7em 1em
		float: left
		text-decoration: none
		color: #444
		text-shadow: 0 1px 0 rgba(255,255,255,.5)
		position: relative
		font-weight: bold
		background:  #99db76
	.current::after
		border-left: 1em solid #99db76
	.current::before
		border-color: #99db76 #99db76 #99db76 transparent
	.finished
		padding: .7em 1em
		float: left
		text-decoration: none
		color: #fff
		text-shadow: 0 1px 0 rgba(255,255,255,.5)
		position: relative
		font-weight: bold
		background:  #337510
	.finished::after
		border-left: 1em solid #337510
	.finished::before
		border-color: #337510 #337510 #337510 transparent


