@import './mixin'
@import './header'

body
	color: #222

h2
	text-align: center
	font-size: 22px

p
	text-align: center
	font-size: 16px

.stack
	position: relative

	> *:not(.active)
		display: none

.resetpassword
	text-align:center
	margin:0px auto
	form
		width:50%
		border:1px solid #ccc
		margin: 20px auto
		h4
			text-align:center
			font-size:large
			margin: 0
			padding: 5px
			background: lightgray
		p
			label
				display:inline-block
				width:100px
				text-align:right
				font-size:small
			input
				font-size:small
